@* @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ITEquipment.Models.EquipmentDTOModel

@{
    ViewData["Title"] = "Equipments";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
<input type="hidden" id="check_UserRole" value="@ViewBag.URole" />


<div class="card mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">

        <div class="d-flex w-100 justify-content-between">
            <h3 class="card-title align-items-start flex-column">
                @ViewBag.Title
            </h3>
            @if (ViewBag.URole == "Admin")
            {
                <div class="card-toolbar">
                    @* <button type="button" class="btn btn-primary" id="btnAddEquipment" data-action="add" data-bs-toggle="modal" data-bs-target="#equipment_modal"> *@
                    <button type="button" class="btn btn-primary" id="btnAddEquipment" data-action="add">
                        <i class="bi bi-plus-square-fill fs-2"></i>
                        Add Equipment
                    </button>
                </div>
            }
        </div>
        <div class="container-fluid filter-box">
            <div class="row gx-3">
                <div class="col mb-2">
                    <label class="form-label text-nowrap me-2">Equipment: </label>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="Equipment" id="txt_EquipmentName">
                </div>
                <div class="col mb-2">
                    <label class="form-label text-nowrap me-2">Assets Tag: </label>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="AssetsTag" id="txt_AssetsTag">
                </div>

                <div class="col mb-2">
                    <label class="form-label text-nowrap me-2">Location: </label>
                    <select asp-for="LocationId" class="form-control" name="Location" id="txt_Location">
                        @foreach (var item in ViewBag.Location)
                        {

                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    
                </div>
                <div class="col mb-2">
                    <label class="form-label text-nowrap me-2">Status: </label>
                    <select asp-for="StatusId" class="form-control" name="Status" id="txt_Status">
                        @foreach (var item in ViewBag.Status)
                        {

                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                   
                </div>

                <div class="col mb-2">
                    <label class="form-label text-nowrap me-2">&nbsp;</label>
                    <div class="d-flex flex-nowrap">
                        <button class="btn btn-success me-2 ser_Equipment" type="submit">Search</button>
                        <button class="btn btn-secondary ser_btn_Clear" type="button">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-body py-3">
        <div class="table-responsive">
            <table id="EquipmentlistTblId" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" style="width:100%">
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="equipment_modal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="tipl_modal_add_user_header" >
                <h2 class="fw-bold modal-title" id="fun_Title">Add Equipment</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <div class="mx-30" id="divAddEditForm">
                    @{
                        // Html.RenderPartial("_AddEditEquipment", Model);
                        Html.RenderPartial("_AddEditEquipment");
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Equ_Status_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmEquipmentStatus" asp-action="UpdateEquipmentStatus" asp-controller="Equipment" class="form-horizontal" data-ajax="true" data-ajax-method="POST" data-ajax-failure="EquipmentStatusFailure"
                  data-ajax-success="EquipmentStatusSuccess" data-ajax-begin="ShowLoader()" data-ajax-complete="HideLoader()">
                <div class="modal-header">
                    <h5 class="modal-title">Update Equipment Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Equipment Status :</label>
                    <select asp-for="StatusType" class="form-control">
                        @foreach (var item in ViewBag.Status)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>

                    <input type="hidden" value="" id="hdnEquipmentId" name="EquipmentId">
                    <input type="hidden" value="" id="hdnStatusType" name="StatusName">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary chn_Status" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary clearStatus" data-bs-dismiss="modal">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteEquipment" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmDeleteEquipment" asp-action="DeleteEquipment" asp-controller="Equipment" class="form-horizontal" data-ajax="true" data-ajax-method="POST" data-ajax-failure="DeleteEquipmentFailure"
                  data-ajax-success="DeleteEquipmentSuccess" data-ajax-begin="ShowLoader()" data-ajax-complete="HideLoader()">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Equipment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure want to delete this Equipment?</p>
                    <input type="hidden" value="" id="hdnDeleteEquipmentId" name="Id">
                </div>
                <div class="modal-footer">
                    <button id="btnConfirmDeleteEquipment" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                   
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    <script src="@Url.Content("~/js/AddEditEquipment.js")"></script>
}